<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Moving Pictures</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{{body}}}

</body>
<script id="entry-template" type="text/x-handlebars-template">
template content
</script>
</html>

{{#each instruments as |instrument| }}
<div class="row mb-4 instrument">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{instrument.id}}">{{instrument.name}}</a>
    </h2>
    {{!-- <img src ="{{}}" --}}
    
  </div>
  <div class="col-md-7">
    <p>
     
    </p>
  </div>
</div>
{{/each}}