<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving Pictures</title>
  <link rel="stylesheet" href="/css/style.css">
  <title>Moving Pictures</title>
   <style> 
        body { 
        background-image: url("https://wallpapers.com/images/high/electric-guitar-black-screen-4k-46wif16htbdaxv6a.webp"); 
         background-repeat:no-repeat; 
         background-size:cover; 
        }  
    </style>
</head>


<body>
   

    <main>


        <h1 class="text-center"><strong>Guitars</strong></h1>


    </main>





    <section>
        <header>
            <nav class="text-right">
                <ul>
                    <li>
                        <a href="Acoustic"><strong>Acoustic</strong></a>
                    </li>
                    <li>
                        <a href="Electric"><strong>Electric</strong></a>
                    </li>
                </ul>
            </nav>
            <figcaption class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</figcaption>
            </figure>
        </header>

    </section>






</body>
</html>

