 /* Element Selectors*/
body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #130202;
    color: #fdf6f4;
  }
  style { 
         /* background-image: url('https://wallpapers.com/images/high/electric-guitar-black-screen-4k-46wif16htbdaxv6a.webp');
          background-size: cover;
          background-repeat: no-repeat;
         */
         background-color: #130202;
  }
  header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #130202;
  }
  header {
      
      border: 5px solid #DDAF94;
      height: 90px;
    }
  
    h1 {
      margin: 20px;
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  
    main {
      padding: 10px 0;
    }
  
    li {
      display: inline;
      padding: 0px 10px;
      text-decoration: none;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
      
    }
  
    a {
      text-decoration: none;
      color: #FDF8F5;
    }
    
    a:hover {
        color: #DDAF94;
        text-decoration: underline;  
        text-decoration-color: #655a54;
        transition: 0.2s ease-in;
    }

.btn-primary {
    color:#E8CEBF;
    background-color: #130202;
    border-color:#130202;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.btn-primary:hover {
    background-color: #DDAF94;
    color:#130202;
    border-color:#DDAF94;
}

.card-body {
    background-color: #655a54;
    color: #fdf6f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.card-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


    section {
      margin-bottom: 0;
      /* padding: 20px 10px 20px 10px; */
      /* border: 3px solid #DDAF94;
      background-color:  #E8CEBF; */
    } 

    h5 {
      color: #130202;
    }


aside h1 {
    top: 50px;
}
  
    /* Class Selectors */
   .text-center {
      text-align: center;
    } 


.options  {
    text-align: center;
    left: 10px;
}


.inst-body {
   display: flex;
}

.inst-display {
  background-color: #130202;
}

.inst-img-name {
 color: white;
}

.inst-img-name h2 {
    position: relative;
    text-align: start;
    
}

.inst-psd {
    color:#fdf6f4;
    border: 2px solid #E8CEBF;
    right: 30px;
    border-radius: 10px;
    background-color: #655a54;
    
}

.inst-psd p {
    text-align: center;
}


.log-sign {
    display: inline-block;
}
